{% extends "auctions/layout.html" %}
{% block body %}
    <h2>{{ title }} </h2>
    <div class="d-flex flex-row flex-wrap">
        {% for auction in auctions %}
            <div class="card m-3" style="width: 18rem; height: fit-content;">
                <img src="{{ auction.image }}" class="card-img-top p-2" alt="...">
                <div class="card-body pb-0">
                    <h5 class="card-title text-truncate">{{ auction.product_name }} </h5>
                    <p class="card-text truncate">{{ auction.description }} </p>
                    <h6>Price: ${{ auction.product_price }}</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted card-text pt-0">Created at: {{ auction.created_at }} </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}